.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: #fff;
  transition: opacity .3s ease-in;
  align-self: start;
}

.place__link:hover {
  opacity: .8;
}